<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">MYSQL</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sdr</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.sdr.bean.Product"/>
    </session-factory>
</hibernate-configuration>


<!-- 

spring.datasource.url=jdbc:mysql://localhost:3306/sdr
spring.datasource.username=root
spring.datasource.password=MYSQL
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform = org.hibernate.dialect.MySQL5Dialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto = update -->